body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    padding: 30px;
    width: 350px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}


#pass {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#generateBtn {
    padding: 12px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

#generateBtn:hover {
    background: #0056b3;
}

.output {
    margin-top: 20px;
    padding: 10px;
    background: #eee;
    border-radius: 6px;
    font-size: 18px;
    word-break: break-all;
    color: #222;
}
